<div class="container bg-info">
    <h1>Mais Vendidos - Carros</h1>
</div>
<div>
    <ul>
        <li><a href="">Fiat Pulse</a></li>
        <li><a href="">Toyota Corolla Cross</a></li>
        <li><a href="">Hyundai HB20</a></li>
        <li><a href="">Volkswagen Taos</a></li>
        <li><a href="">Jeep Compass</a></li>
        <li><a href="">Fiat Argo</a></li>
        <li><a href="">Jeep Renegade</a></li>
        <li><a href="">Chevrolet Onix Plus</a></li>
        <li><a href="">Hyundai Creta</a></li>
        <li><a href="">Fiat MOBI</a></li>
    </ul>
</div>
<div class="ion-text-center">
    <img src="https://dicas.olx.com.br/wp-content/uploads/2021/04/tipos-de-carros-capa-1024x463.png">
</div>

<h1>Mais Vendidos - Motos</h1>
<div>
    <ul>
        <li><a href="">BMW S1000RR</a></li>
        <li><a href="">Honda PCX</a></li>
        <li><a href="">Yamaha MT-09</a></li>
        <li><a href="">Honda CBR 600RR</a></li>
        <li><a href="">Honda CBR 1000RR</a></li>
        <li><a href="">Honda XRE 300</a></li>
        <li><a href="">Yamaha YZF-R3</a></li>
        <li><a href="">BMW R nineT</a></li>
        <li><a href="">Suzuki B-King</a></li>
        <li><a href="">Ducati Monster 821</a></li>
    </ul>
</div>
<div class="center">
    <img src="https://swall.teahub.io/photos/small/30-301662_imagenes-en-hd-1080p-motos.jpg">
</div>